header {
    background-color: #5352ed;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    gap: 2.5rem;
}

.menu-website-logo {
    width: 3.5rem;
}

.menu-brand-title {
    color: #c7ecee;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.75rem;
    font-weight: 600;
}

.menu-container {
    padding: 0.5rem 3.5rem;
}

.menu-links-container {
    justify-content: flex-end;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-link {
    color: #c7ecee;
}

.nav-link:hover {
    color: #30336b
}

@media (max-width: 991px) {
    .navbar-nav {
        gap: 0.5rem;
    }
}

@media (max-width: 400px) {
    .menu-brand-title {
        font-size: 1.5rem;
    }

    .menu-website-logo {
        width: 3rem;
    }

    .menu-container {
        padding: 0.5rem 2rem;
    }

    .menu-links-container {
        font-size: 1.1rem;
    }
}
