.movies-section {
  background-image: linear-gradient(
    to right,
    #70e1f5,
    #12cbc4,
    #1289a7,
    #006266
  );
  padding: 3rem 3rem 4rem;
}

.movies-section-title {
  font-size: var(--font-medium-large);
  font-weight: 700;
  color: #1b1464;
  padding-bottom: 2rem;
}

.movies-carousel-img {
  width: 45rem;
  height: 46rem;
}
