.trending-section {
  padding: 1rem 3rem 5rem;
  background-color: hsla(0, 0%, 95%, 0.712);
  position: relative;
}

.trending-section-title {
  padding-bottom: 3rem;
  font-size: 2.5rem;
  color: #3c40c6;
  font-weight: 700;
  margin-top: 2.5rem;
}

.trending-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-group {
  width: 20rem;
  position: relative;
}

.book-group:hover {
  transform: scale(1.02);
  transition: transform 400ms ease-in-out;
}

.book-image#first-book {
  background-image: url("../resources/images/beautiful_world_where_are_you_cover.jpg");
}

.book-image#second-book {
  background-image: url("../resources/images/one_last_stop_cover.jpg");
}

.book-image#third-book {
  background-image: url("../resources/images/the_love_songs_of_W.E.B._Du_Bois_Cover.jpg");
}

.book-image#fourth-book {
  background-image: url("../resources/images/billy_summers_cover.jpg");
}

.book-image {
  background-repeat: no-repeat;
  height: 30rem;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.book-overlay {
  /* display: none; */
  position: relative;
  top: 20.625rem;
  width: 100%;
  background: linear-gradient(#341f97, #5f27cd);
  color: var(--white);
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  opacity: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}

.book-info {
  height: 9.375rem;
  text-align: center;
}

.book-title {
  display: inline-block;
  height: 2rem;
  font-weight: 700;
  font-style: italic;
  font-size: 1.15rem;
  padding-top: 0.5rem;
  color: var(--white);
}

.book-author {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.book-author a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
}

.book-author a:hover {
  color: #ff4757;
}

.book-author-link {
  pointer-events: none;
}

/* -> Ratings Section */
/* -> Push the ratings container up and behind the image */
.book-rating {
  text-align: center;
  padding-bottom: 0.65rem;
}

.ratings-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-star {
  height: 1.15rem;
  padding-right: 0.4rem;
  color: #feca57;
}

.ratings-count {
  font-weight: 500;
  font-size: 1.1rem;
  color: #c8d6e5;
}

/* -> Button add to Reading List */
.btn-add-to-reading-list {
  background-color: #3c40c6;
  color: var(--white);
  border: 1.25px solid var(--white);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

.reading-list-bookmark {
  padding-left: 1rem;
}

/* -> Drop-Down */
/* -> this is the drop-down container */
.reading-list-container {
  display: none;
  background-color: #686de0;
  height: 2.5rem;
  position: relative;
  width: 20rem;
  /* height: 2.5rem; */

  /* -> place the item on the right of the screen and allow items to wrap around it*/
  float: right;
  cursor: pointer;
  color: var(--white);
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 0.75rem;
}

/* -> center the title from the drop-down container both horizontally and vertically */
.drop-down-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookshelf-icon {
  height: 2.5rem;
  margin-right: 0.75rem;
}

.drop-down-arrow {
  position: absolute;
  top: 0.28rem;
  right: 1.2rem;
}

/* -> theis is the drop-down items section */
.reading-list-drop-down {
  display: none;
  position: absolute;
  top: 2.5rem;
  border: none;
  width: 20rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--white);
  background-color: #1b9cfc;
  border-radius: 0 0 0.75rem 0.75rem;
  z-index: 1;
}

/* -> when hovering over the drop-down list coontainer */
.reading-list-container:hover {
  background-color: #4834d4;
  border-radius: 0.75rem 0.75rem 0 0;
}

/* -> when hovering over the drop-down container set the display property of its children to block */
.reading-list-container:hover .reading-list-drop-down {
  display: block;
}

/* -> each drop-down item has padding of 1rem */
.reading-list-drop-down div {
  padding: 1rem;
}

/* -> when hovering over each drop-down item apply the styles mentioned */
.reading-list-drop-down div:hover {
  background-color: #30336b;
  color: var(--white);
  border-radius: 0;
}

/* -> make the last element of the drop-down have rounded corners at the bottom */
.reading-list-drop-down div:last-child:hover {
  border-radius: 0 0 0.75rem 0.75rem;
}

/* -> elem used to identify the drop-down elements in js */
.drop-down-elem {
  font-size: inherit;
}

.btn-clear-list {
  background-color: #dff9fb;
  border: none;
  color: #4834d4;
  font-weight: 600;
  border-radius: 0.7rem;
  width: 65%;
  margin: 0.5rem auto 0.75rem;
  padding: 0.5rem 0;
}

.btn-clear-list:hover {
  color: #fff;
  background-color: #4834d4;
}

/* -> Helper Classes - used in js */
.btn-pressed {
  background-color: #c7ecee;
  color: #3c40c6;
}

.disabled-button {
  pointer-events: none;
  cursor: none;
}

/* Media Queries */
@media (max-width: 1550px) {
  .book-group {
    width: 15rem;
  }

  .book-image {
    height: 23rem;
    padding: 0;
  }

  .book-overlay {
    top: 13.624rem;
  }

  .book-author {
    padding: 0;
  }

  .book-rating {
    padding-bottom: 0.15rem;
  }

  .btn-add-to-reading-list {
    padding: 0.3rem 1rem;
  }

  .book-title {
    padding-top: 0.2rem;
    height: 3.6rem;
  }
}

@media (max-width: 1250px) {
  .book-group {
    width: 12rem;
  }

  .book-title {
    display: inline-block;
    width: 100%;
  }

  .book-image {
    height: 18rem;
  }

  .book-overlay {
    top: 8.624rem;
  }
}

@media (max-width: 1050px) {
  .trending-section-title {
    font-size: 2.25rem;
  }

  .trending-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5rem;
  }

  .book-group {
    width: 27rem;
  }

  .book-image {
    height: 40rem;
  }

  .book-overlay {
    top: 30.625rem;
  }

  .book-title {
    height: 2.5rem;
  }

  .btn-add-to-reading-list {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
  }

  .reading-list-container {
    float: none;
    margin: auto;
  }
}

@media (max-width: 778px) {
  .trending-section-title {
    font-size: 2rem;
  }

  .book-group {
    width: 24rem;
  }

  .book-image {
    height: 34rem;
    background-position: center center;
  }

  .book-overlay {
    top: 24.624rem;
  }
}

@media (max-width: 650px) {
  .trending-section-title {
    font-size: 1.85rem;
  }

  .book-group {
    width: 20rem;
  }

  .book-image {
    height: 29rem;
  }

  .book-overlay {
    top: 19.599rem;
  }
}

@media (max-width: 550px) {
  .trending-section-title {
    font-size: 1.4rem;
  }

  .book-group {
    width: 16rem;
  }

  .book-image {
    height: 23rem;
  }

  .book-overlay {
    top: 13.624rem;
  }

  .book-title {
    font-size: 0.9rem;
  }

  .book-author {
    font-size: 0.8rem;
  }

  .book-author a {
    font-size: 0.8rem;
  }

  .btn-add-to-reading-list {
    font-size: 0.85rem;
  }

  .reading-list-container {
    width: 17.5rem;
    font-size: 1rem;
  }

  .drop-down-arrow {
    top: 0.5rem;
  }

  .reading-list-container:hover .reading-list-drop-down {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .trending-flex-container {
    gap: 3rem;
  }

  .trending-section-title {
    font-size: 1.2rem;
  }

  .book-group {
    width: 13rem;
  }

  .book-image {
    height: 19rem;
  }

  .book-overlay {
    top: 9.624rem;
  }

  .book-title {
    font-size: 0.9rem;
    width: 75%;
  }

  .btn-add-to-reading-list {
    font-size: 0.75rem;
    padding: 0.35rem;
  }

  .reading-list-container {
    width: 15.5rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 395px) {
  .trending-section-title {
    font-size: 1.5rem;
  }

  .book-group {
    width: 15rem;
  }

  .book-image {
    height: 21rem;
  }

  .book-overlay {
    top: 11.624rem;
  }
}

@media (max-width: 350px) {
  .trending-flex-container {
    gap: 4rem;
  }

  .trending-section-title {
    width: 75%;
    margin: 0 auto;
  }
}
