/* Variables */
:root {
  --darkBlue: hsl(233, 26%, 24%);
  --white: hsl(0, 0%, 100%);
  --brightCyan: hsl(192, 70%, 51%);
  --gray: hsl(233, 8%, 62%);
  --veryLightGray: hsl(0, 0%, 98%);
  --limeGreen: hsl(136, 65%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);

  /* 18px */
  --font-small: 1.125rem;

  /* 20px */
  --font-medium: 1.25rem;

  /* 32px */
  --font-medium-large: 2rem;

  /* 48px */
  --font-large: 3rem;
}
