/* Variables */
:root {
  --darkBlue: hsl(233, 26%, 24%);
  --white: hsl(0, 0%, 100%);
  --brightCyan: hsl(192, 70%, 51%);
  --gray: hsl(233, 8%, 62%);
  --veryLightGray: hsl(0, 0%, 98%);
  --limeGreen: hsl(136, 65%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);

  /* 18px */
  --font-small: 1.125rem;

  /* 20px */
  --font-medium: 1.25rem;

  /* 48px */
  --font-large: 3rem;
}

/* Tags */
/* html {
  height: 100%;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
/* Header Section */

header {
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 2;
  background-color: darkslategrey;
  height: 20vh;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  height: 130px;
  width: auto;
  float: left;
  filter: contrast();
}

.main-nav {
  list-style: none;
  margin-top: 45px;
  flex: 1;
}

.main-nav li {
  display: inline-block;
  padding-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid black;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Intro Section */
#intro-section {
  background-color: #ecf0f1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "intro-content intro-image";
  grid-auto-rows: 1fr;
  height: 75%;
  justify-content: center;
  align-items: center;

  padding: 2.188rem 3rem;
}

.intro-cover {
  background-image: url("/resources/media/images/Book_Shelf.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  border-radius: 0.5rem;
}

.intro-credits {
  font-size: 1.25rem;
}

.intro-title {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.intro-description {
  font-size: 1.375rem;
  line-height: 1.3;
  font-weight: 500;
  width: 75%;
  margin: 0 auto;
}

/* Stats Section */
.stats-section {
  padding: 3rem 3rem 2rem;
  color: var(--darkBlue);
}

.stats-section-title {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: var(--font-large);
}

.stats-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.stats-item {
  width: 14rem;

  border-radius: 0.3rem;
  /* The values in order 
  -> width, height, 3rd dimension ("z") */
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  transition: all 150ms ease-in-out;
}

.stats-item:hover {
  background-color: var(--darkBlue);
  color: var(--white);
}

.stats-icon {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.stats-icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.stats-info {
  padding-top: 1rem;
}

.stats-text {
  font-weight: 500;
  font-size: var(--font-small);
}

.stats-amount {
  font-weight: 700;
  font-size: 1.5rem;
}

.stats-section-cover {
  margin: 0 3rem 1rem;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  transition: all 150ms ease-in-out;
}

.stats-section-cover-img {
  background-image: url("/resources/media/images/Book_Cover_Showcase_5.jpg");
  background-size: cover;
  background-position: center 4%;
  border-radius: 0.25rem;
  width: 100%;
  height: 12rem;
}

/* Footer Section */
.footer {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 2.5rem;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer a {
  color: var(--white);
}

.footer-logo {
  font-weight: 700;
  display: inline-block;
  grid-area: logo;
}

.footer-social {
  grid-area: social;

  /* position the individual grid element footer-social at the end (vertically) */
  align-self: end;
}

.footer-social a {
  display: inline-block;
  height: 1.25rem;
}

svg path {
  transition: fill 150ms ease-in-out;
}

a:hover svg path {
  fill: var(--limeGreen);
}

.footer-social a:not(:last-child) {
  margin-right: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9375rem;
}

.footer-links.col1 {
  grid-area: links1;
}

.footer-links.col2 {
  grid-area: links2;
}

.footer-links a {
  line-height: 2.25;
  transition: color 150ms ease-in-out;
}

.footer-links a:hover {
  color: var(--limeGreen);
}

.request-book {
  grid-area: requestBook;
  text-align: right;

  /* -> align the grid item inside a cell along the inline (row) axis
    -> this one applied to a grid item inside a single cell as oppose to justify-items, which applies to all grid items inside the container */
  justify-self: end;
}

/* add styles to button */
.button-req-book {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;

  background-image: linear-gradient(
    to right,
    var(--limeGreen),
    var(--brightCyan)
  );
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  font-size: 0.875rem;
  transition: opacity 200ms ease-in-out;
}

.button-req-book::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.button-req-book:hover::before {
  opacity: 1;
}

.footer-copyright {
  font-size: 0.8125rem;
  color: var(--grayishBlue);
  grid-area: copyright;
  /* position the single element horizonatally */
  justify-self: end;

  /* position the single element vertically */
  align-self: end;
}
